<nav class="navbar text-white">

    <a routerLink="/dashboard"><h1>{{title}}</h1></a>
    <form class="form-inline">

      <a routerLink="/recipes"><h1>Recipes</h1></a>
      <a routerLink="/cookie-recipe"><h1>Recipes Cookie</h1></a>
      <a routerLink="/auth"><h1>Connexion</h1></a>
      <a routerLink="/register"><h1>Incription</h1></a>
      <a routerLink="/user"><h1>User</h1></a>
    </form>

</nav>
<main [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>

</main>


